/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url(/img/bird.png) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.container {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.615);
    height: 100%;
    width: 100%;
    padding: 2%;
}

.navbar {
   display: flex;
   justify-content: space-between;
   margin-bottom: 2rem;
   align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

.navbar a {
    text-decoration: none;
    color: rgb(27, 9,19);
    font-weight: bold;
    transition: 0.4s;
}

.navbar a:hover {
    color: rgb(192, 43, 226);
}

.navbar .actions {
    display: flex;
    gap: 20px;
    align-items: center;
}

.action-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.action-button.email {
    align-items: center;
}

.action-button.login {
    background-color: rgb(231, 128, 195);
    color: rgb(96, 49, 113);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.headline {
    font-size: 3rem;
    letter-spacing: 2px;
    color: rgb(96, 49, 113);
    margin-bottom: 15px;
}

.subhead {
    font-size: 1.2rem;
    color: rgb(59, 57, 57);
}

.cta-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.primary {
    background-color: rgb(96, 49, 113);
    color: white;
}

.primary:hover {
    background-color:rgb(67, 34, 80);

}

.secondary {
    background-color: transparent;
    border: 2px solid rgb(96, 49, 113);
    color: rgb(96, 49, 113);
}

.secondary:hover {
    background-color: rgb(96, 49, 113);
    color: white;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.subscribe-form input[type="email"]{
    padding: 10px 40px;
    border-radius: 20px;
    border-radius: solid 1px rgb(210, 208, 208);
    width: 40%;
}

.subscribe-form button {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(96, 49, 113); 
    color: white;
    border: none;
    font-weight: bold;
}

.subscribe-form button:hover {
    background-color: rgb(67, 34, 80);
}